{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% assets "css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"></link>
    {% endassets %}
    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/fav/favicon-16x16.png">
    <link rel="manifest" href="/static/icons/fav/site.webmanifest">
    <link rel="mask-icon" href="/static/icons/fav/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/static/icons/fav/favicon.ico">
    <meta name="msapplication-TileColor" content="#ff0000">
    <meta name="msapplication-config" content="/static/icons/fav/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script> -->
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
{% endblock %}