{% block navbar %}
  <nav class="navbar is-white has-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item brand" href="/">
        <img src="/static/icons/logo.png" alt="books logo" width="28" height="28">
        <h1 class="app-name">Coding Books Catalog</h1>
      </a>
    </div>

    <div class="navbar-menu is-active">
      <div class="navbar-end">
        <a class="navbar-item is-hidden-mobile" href="https://bitbucket.org/ilariaschinina/catalogapp/src/master/" target="_blank">
          <img src="/static/icons/bitbucket.png" alt="bitbucket icon" style="max-height: 3rem;"></img>

        </a>
        <div class="navbar-item">
          {% if is_logged_in %}
            <a class="button is-primary" href="/gdisconnect">Log out</a>
          {% else %}
            <a class="button is-primary" href="/login">Login</a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
{% endblock %}