{% block sidebar %}
    <aside class="menu">
        <p class="menu-label">
            Categories
        </p>
        <ul class="menu-list">
            {% for category in categories %}
                <li>
                    {% if active_category is defined and category.id == active_category.id %}
                        <a class="is-active" href="/category/{{category.id}}/list">{{ category.name }}</a>
                    {% else %}
                        <a href="/category/{{category.id}}/list">{{ category.name }}</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </aside>
{% endblock %}
