.brand {
  padding-left: 2rem;
}

.app-name {
  /* background-image: linear-gradient(to left, #FF3860, #E46A56, #FFDD57, #1FD160,#00D1B2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px rgb(105, 105, 105); */
  font-size: 1.5em;
  font-family: calibri;
  font-weight: bolder;
  padding-left: 0.5em;
}

.below-navbar {
  padding: 1.5rem;
}

.sb-style {
  background: #fafafa;
  @include desktop {
    height: 100%;
    display: block;
    min-height: 100vh;
  }
}

li {
  list-style-type: none;
}

a, .top-banner {
  text-decoration: none;
}

.main-content {
  @include desktop {
    padding-left: 5rem;
  }
}

// Forms
.text-input-field {
  @include until($tablet){
      width: 100% !important;
  }
  @include desktop {
    width: 75% !important;
  }
}

textarea {
  height: 8em !important;
}

// Item view
.text-content, .title-auth-box {
  margin-bottom: 1.5rem;
  text-align: justify;
}

.page-content-title {
  font-size: 1.2rem;
  font-weight: 500 !important;
}

.book-author {
  font-size: 1.2rem;
}

// List view
.book-title-list {
  font-weight: 500;
}

// Text in home
.small-break{
  margin-bottom: .5em;
  text-indent: .5em;
}

// Notifications
.flash {

}


