<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} - Catalog App</title>
    {% block head %}
        {% include 'snippets/head.html' %}
    {% endblock %}
</head>
<body>
    <div class="container is-max-widescreen">
        <!-- Navbar -->
        {% block navbar %}
            {% include 'snippets/navbar.html' %}
        {% endblock %}

        <div class="below-navbar">
            <div class="columns">
                <!-- Sidebar -->
                <div class="column is-one-third-tablet is-one-quarter-desktop sb-style">
                {% block sidebar %}
                    {% include 'snippets/sidebar.html' %}
                {% endblock %}
                </div>

                <!-- Page Content -->
                <div class="column is-two-third-tablet is-two-thirds-desktop main-content">
                    <div class="container">
                        <div class="block">
                            <!-- Flash messages -->
                            <span class="flash message is-info">
                                {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                {% for message in messages %}
                                <em> {{ message }} </em>
                                {% endfor %}
                                {% endif %}
                                {% endwith %}
                            </span>
                        </div>
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
