{% extends "base.html" %}

{% block title %}Delete {{item.title}}{% endblock %}

{% block content %}

    <h2 class="subtitle">Delete {{item.title}}</h2>
    <p>Are you sure you want delete {{item.title}}?</p>
    <form action="#" method='post'>
        <input class="button is-primary  " type="submit" value="Delete">
        <a class="button is-primary is-outlined " href="/category/{{active_category.id}}/list/{{item.id}}">Back</a>
    </form>

{% endblock %}