{% extends "base.html" %}

{% block title %}Edit {{item.title}}{% endblock %}

{% block content %}

    <h2 class="subtitle">Edit <span class="page-content-title"> {{item.title}} </span></h2>

    <form action= "#" method="POST">

        <div class="field">
            <label class="label">Title</label>
            <div class="control">
                <input class="input is-primary text-input-field" type="text" size="40" name="title" placeholder="Title" value="{{item.title}}">
            </div>
        </div>

        <div class="field">
            <label class="label">Author</label>
            <div class="control">
                <input class="input is-primary text-input-field" type="text" size="40" name="author" placeholder="Author" value="{{item.author}}">
            </div>
        </div>

        <div class="field">
            <label class="label">Description</label>
            <div class="control">
                <textarea class="input is-primary text-input-field" name="description" rows="10" cols="40" placeholder="Description">{{item.description}}</textarea>
            </div>
        </div>

        <input class="button is-primary" type="submit" value="Edit">
        <a class="button is-primary is-outlined" href="/category/{{active_category.id}}/list/{{item.id}}">Cancel</a>
    </form>

{% endblock %}



