{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <h2 class="page-content-title title-auth-box">
        Welcome
    </h2>
    <div class="text-content">
        <p class="small-break">This is a small catalog app that organizes books for learning programming languages.</p>
        <p class="small-break">It has been built as final project for the Udacity Nanodegree Program <em>"Full-Stack Web Developer"</em>.</p>
        <p class="small-break"> The basic CRUD functionalities, authentication and authorization have been implemented in Flask:
           users who are not logged-in can only see the existing collection and logged users can create, update and delete the content of which they are the owners.
        </p>
        <p class="small-break">The project implements JSON endpoints that serve the same information as displayed in the HTML endpoints.</p>
        <p class="small-break">To see the source code, check out the <a href="https://bitbucket.org/ilariaschinina/catalogapp/src/master/">repo</a>! ^_^</p>

    </div>
    <!-- <h2 class="page-content-title title-auth-box">
        Latest Items Added
    </h2>
    <p>
        <ul>{% for item in items %}
            <li class="main_list">
                <a class="item-list" href="/category/{{item.category_id}}/list/{{item.id}}">
                    <span class="book-title-list"> {{ item.title }}</span> - <span class="book-author-list"> {{ item.author }}</span>
                </a>

            </li>
            {% endfor %}
        </ul> -->
    </p>

{% endblock %}

