{% extends "base.html" %}

{% block title %}{{item.title}}{% endblock %}

{% block content %}

    <div>
        <div class="title-auth-box">
            <h2 class="page-content-title"> {{ item.title }}</h2>
            <h3 class="book-author"> {{ item.author }}</h3>
        </div>

        <p class="text-content"> {{item.description}} </p>
        </div>
    </div>
    <div class="buttons">
        {% if is_owner %}
            <a class="button is-primary" href="/category/{{active_category.id}}/list/{{item.id}}/edit">Edit</a>
            <a class="button is-primary" href="/category/{{active_category.id}}/list/{{item.id}}/delete">Delete</a>
        {% else %}
            <a class="button is-primary" href="/category/{{active_category.id}}/list/{{item.id}}/edit" disabled>Edit</a>
            <a class="button is-primary" href="/category/{{active_category.id}}/list/{{item.id}}/delete" disabled>Delete</a>
        {% endif %}
        <a class="button is-primary is-outlined " href="/category/{{active_category.id}}/list">Back</a>
    </div>

{% endblock %}