{% extends "base.html" %}

{% block title %}{{active_category.name}}{% endblock %}

{% block content %}

    <h2 class="page-content-title text-content">{{active_category.name}}</h2>
    <ul>
        {% for item in items %}
            <li class="main_list"><a href="/category/{{active_category.id}}/list/{{item.id}}">
                <span class="book-title-list"> {{ item.title }}</span> - <span class="book-author-list"> {{ item.author }}</span></a>
            </li>
        {% endfor %}
    </ul>
    <br>
    {% if is_owner %}
        <a class="button is-primary " href="/category/{{active_category.id}}/list/new_item">Add a new book</a>
    {% else %}
        <a class="button is-primary " href="/category/{{active_category.id}}/list/new_item" disabled>Add a new book</a>
    {% endif %}

{% endblock %}