{% extends "base.html" %}

{% block title %}Add a new book in {{active_category.name}}{% endblock %}

{% block content %}

    <h2 class="subtitle">Add a new book in the <span class="page-content-title">{{active_category.name}}</span> section</h2>
    <form action= "#" method="POST">

        <div class="field">
            <label class="label">Title</label>
            <div class="control">
                <input class="input is-primary text-input-field" type="text" size="60" name="title" placeholder="Book title" required>
            </div>
        </div>

        <div class="field">
            <label class="label">Author</label>
            <div class="control">
                <input class="input is-primary text-input-field" type="text" size="60" name="author" placeholder="Author name" required>
            </div>
        </div>

        <div class="field">
            <label class="label">Description</label>
            <div class="control">
                <textarea class="input is-primary text-input-field" name="description" rows="10" cols="60" placeholder="Description of the book"></textarea>
            </div>
        </div>

        <input class="button is-primary " type="submit" value="Create">
        <a class="button is-primary is-outlined " href="/category/{{active_category.id}}/list">Back</a>
    </form>

{% endblock %}